external-secrets:
  serviceAccount:
    create: true
    name: main-service-account
    annotations:
      iam.gke.io/gcp-service-account: main-service-account@hnt-live-{{ global.environmentName }}.iam.gserviceaccount.com 