global:
  environmentName: {{ global.environmentName }}
  gcp:
    projectId: hnt-live-{{ global.environmentName }} 
    region: us-east4
    gke:
      clusterLocation: us-east4
      clusterName: main-cluster-{{ global.environmentName }}
  chains: 
    {{ chains | to_yaml | indent(4) }}
