{% for app in appOfApps.applications %}
{% if app.name == "notification-service" %}
  notificationService:
    disable: {{ app.disable | lower}}
{% endif %}
{% if app.name == "rpc-gateway" %}
  rpcGateway:
    disable: {{ app.disable | lower}}
{% endif %}
{% if app.name == "subgraph" %}
  subgraph:
    disable: {{ app.disable | lower}}
{% endif %}
{% if app.name == "app-registry-service" %}
  appRegistryService:
    disable: {{ app.disable | lower}}
{% endif %}
{% endfor %}
