apnsTownsAppIdentifier: {{ notificationService.apnsTownsAppIdentifier }}
image:
  tag: {{ notificationService.image.tag }}
ingress:
  hosts:
    - host: river-notification-service-{{ global.environmentName }}.towns.com 
      paths:
        - path: /
          pathType: Prefix
resources:
  limits:
    cpu: 1
    memory: 7.5Gi
    # TODO: don't hardcode the memory limit
  requests:
    cpu: 1
    memory: 7.5Gi
    # TODO: don't hardcode the memory request