image:
  tag: "{{ riverNode.image.tag }}"

nodes:
  {% for i in range(1, riverNode.numStreamNodes + 1) %}
  - nodeType: stream
    nodeNumber: {{ i }}
    hostname: river{{ i }}.nodes.{{ global.environmentName }}.towns.com
    runMode: full
    standbyOnStart: true
    dbUser: river{{ i}}
  {% endfor %}
  {% for i in range(1, riverNode.numArchiveNodes + 1) %}
  - nodeType: archive
    nodeNumber: {{ i }}
    hostname: archive{{ i }}.nodes.{{ global.environmentName }}.towns.com
    runMode: archive
    standbyOnStart: false
    dbUser: archive{{ i }}
  {% endfor %}

dbMigrationStatus: {{ riverNode.dbMigrationStatus | default('hold') }}

race: {{ riverNode.race | default('false') }}

resources: 
{{ riverNode.resources | default({
  "limits": {
    "cpu": 0.5,
    "memory": "1G"
  },
  "requests": {
    "cpu": 0.5,
    "memory": "1G"
  }
}) | to_yaml | indent(2, True) }}