image:
  tag: {{ riverNode.image.tag }}

nodes:
  {% for i in range(1, riverNode.numStreamNodes + 1) %}
  - nodeType: stream
    nodeNumber: {{ i }}
  {% endfor %}
  {% for i in range(1, riverNode.numArchiveNodes + 1) %}
  - nodeType: archive
    nodeNumber: {{ i }}
  {% endfor %}

resources:
  limits:
    cpu: 0.5
    memory: 1G
    # TODO: don't hardcode limits
  requests:
    cpu: 0.5
    memory: 1G